footer{
background-color:rgba(128, 128, 128, 0.301);
border: transparent rgb(196, 196, 196) 1px;
text-align: center;
border-radius: 6px;
display:block;
list-style:none;

}

footer li{
    margin: 8px;
    list-style: none;
}
