nav{
    padding: 10px;
    margin: 0;    
    border: solid rgba(0, 0, 0, 0.116) 1px;
    background-color:#fca311;
    list-style: none;
    text-decoration: none;
    display: flex;
     
}

a{
    text-decoration: none;
    list-style: none;
    
}

nav {
    display: flex;
    justify-content: center;
    
    
}

#login{
    text-align: left;
    color: black;
}

